.small{
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0px auto;
    border-radius: 25px;
}

.small .landscape{
    width: 200%;
    margin-left: -50%;
}

.small .portrait{
    width: 200%;
    /* width: 100%; */
    margin-left: -50%;
    margin-top: -25%;
}

.small .square{
    width: 100%;
}