.article-option-wrap{
    max-height: 150px;
    overflow-y: scroll;
}

.article-options{
    margin: 0px auto;
}

.article-submit{
    padding: 10px;
}
/* .article-option .artIcon, .article-option p {
    display: inline-block;
    vertical-align: middle;
}

.article-option{
    margin: 0px;
} */

/* .article-option .artIcon{
    margin-right: 10px;
} */
/* .article-option{
    display: inline-block;
} */