.active-article{
    /* border: 1px solid black; */
    height: 180px;
    /* height: 200px; */
    /* width: 200px; */
    /* border-radius: 10px; */
    /* margin: 0px auto 10px auto; */
    border-bottom: 10px;
    filter: drop-shadow(5px 5px 5px black);
}

.article-option-wrap{
    border: 1px solid black;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
}

.article-options{
    margin: 0px auto;
}

.article-submit{
    padding: 10px;
}
/* .article-option .artIcon, .article-option p {
    display: inline-block;
    vertical-align: middle;
}

.article-option{
    margin: 0px;
} */

/* .article-option .artIcon{
    margin-right: 10px;
} */
/* .article-option{
    display: inline-block;
} */