.layer-article{
    position: absolute;
}

.static:hover{
    filter: brightness(120%);
    cursor: pointer;
}

.draggable{
    cursor: move;
}

.dragging{
    filter: brightness(120%) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.335));
}