input{
    text-align: center;
    display: block;
    margin: 0px auto 10px auto;
    font-size: 20px;
    color: #175676;
    border: 2px solid #175676;
    background-color: #b2c9d4;
    padding: 8px;
    border-radius: 5px;
    transition: background-color .5s;
}

input:focus{
    outline: none;
    background-color: white;
}

.button{
    display: inline-block;
    margin: 2px;
    width: max-content;
    padding: 5px 10px;
    color: #175676;
    background-color: #cce6f4;
    border: 2px solid #175676;
    border-radius: 10px;
    /* border-style: outset; */
    transition: background-color .2s;
    user-select: none;
}

.button:hover{
    cursor: pointer;
    border: 2px inset;
}

.confirm:hover{
    color: #536b78;
    background-color: #ccf4e6;
}

.cancel:hover{
    color: #536b78;
    background-color: #f4cccc;
}