.article-modal{
    width: 40%;
    /* height: 40%; */
    padding: 2%;
    z-index: 101;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    top: 15%;
    background-color: white;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 5px black);
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5) ;
}

.canvas-interface{
    overflow: hidden;
    border: 1px solid black;
    margin: 0px auto;
    padding: 10px;
}

.article-canvas, .layers-ui{
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
}

.article-canvas{
    height: 900px;
    width: 900px;
    position: relative;
}

.layers-ui{
    border: 1px solid black;
    background-color: rgb(203, 217, 243);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.739));
    overflow: hidden;
}

.layers-ui button{
    margin: 0px auto;
}

.layers-ui button, .layers-ui .layer-scroll{
    display: block;
}

.layer-scroll{
    height: 95%;
    overflow: auto;
}

.clip-interface{
    /* width: 99%; */
    margin: 0px auto;
    height: 940px;
    position: relative;
    overflow: hidden;
    /* border: 1px solid black; */
}

@media only screen and (max-width: 875px){
    .canvas-interface{
        width: 1125px;
        transform: translateX(-50%) scale(0.58);
        transform-origin: center;
        position: absolute;
        top: -25%;
        left: 50%;
        transform-origin: center;
    }
    .layers-ui{
        height: 600px;
        width: 900px;
    }
    .layer-scroll{
        height: 80%;
    }
}

@media only screen and (min-width: 875px) and (max-width: 1320px){
    .canvas-interface{
        width: 1125px;
        transform: translateX(-50%) scale(0.82);
        position: absolute;
        top: -2%;
        left: 50%;
        transform-origin: center;
    }
    .layers-ui{
        height: 900px;
        width: 200px;
    }
    .layer-scroll{
        height: 87%;
    }
}

@media only screen and (min-width: 1320px){
    .canvas-interface{
        width: 1125px;
        transform: translateX(-50%) scale(.96);
        position: absolute;
        top: 2%;
        left: 50%;
        transform-origin: center;
    }
    .layers-ui{
        height: 900px;
        width: 200px;
    }
    .layer-scroll{
        height: 87%;
    }
}